.mm-page,
.mm-wrapper_background body {
  background-color: inherit;
}


.responsive-menu-toggle-icon,
.responsive-menu-toggle-icon:visited {
	float: right;
	width: 40px;
	height: 40px;
	border: 1px solid $white;
  border-radius: 40px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
}

.responsive-menu-toggle-icon:focus,
.responsive-menu-toggle-icon:hover,
.responsive-menu-toggle-icon:active {
	border: 1px solid $yellow;
}

.responsive-menu-toggle-icon:before,
.responsive-menu-toggle-icon:after,
.responsive-menu-toggle-icon span.icon {
	background: $white;
	height: 1px;
	left: 9px;
}

.responsive-menu-toggle-icon:hover:before,
.responsive-menu-toggle-icon:hover:after,
.responsive-menu-toggle-icon:hover span.icon {
	background: $yellow;
}

.responsive-menu-toggle-icon:before 		{top: 12px;}
.responsive-menu-toggle-icon:after 			{top: 24px;}
.responsive-menu-toggle-icon span.icon	{top: 18px;}

.mm-wrapper_opening .responsive-menu-toggle-icon:before,
.mm-wrapper_opening .responsive-menu-toggle-icon:after {
  top: 18px;
}

#block-responsivemenumobileicon .label {
	display: none;
}

.mm-listitem a:hover {
  color: $yellow;
}



.mm-menu_theme-dark {
	font-size: x-large;
	text-transform: uppercase;
  --mm-color-border: rgba( 0,0,0, 0.3 );
  --mm-color-button: $yellow;
  --mm-color-text: $white;
  --mm-color-text-dimmed: rgba( 255,255,255, 0.4 );
  --mm-color-background: $black;
  --mm-color-background-highlight: rgba( 255,255,255, 0.08 );
  --mm-color-background-emphasis: rgba( 0,0,0, 0.1 );
  --mm-shadow: 0 0 20px rgba( 0,0,0, 0.5 );
}