<div class="media-card-wrapper">
  <div class="media-card-wrapper-top">
    <div>{{ content.field_media_soundcloud }}</div>
  </div>
  <div class="media-card-wrapper-bottom">
    <h2>{{ media.title }}</h2>
  </div>
</div>
